name: Java Maven Build & Publish Artifact

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build & Test with Maven
      run: mvn --batch-mode clean package

  publish-job:
    runs-on: ubuntu-latest
    needs: build_test

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build & Verify
      run: mvn --batch-mode verify

    - name: Prepare artifact
      run: |
        mkdir -p staging
        cp target/*.jar staging/

    - name: Upload JAR artifact
      uses: actions/upload-artifact@v4
      with:
        name: Package
        path: staging/
